<div>Welcome to Ember</div>

<div class="font-product">
  Welcome to Ember
</div>

<div class="font-sf">
  Welcome to Ember
</div>

<div class="font-public">
  Welcome to Ember
</div>

<hr class="my-6">

<div class="text-base">
  This is the same text.
</div>

<div class="text-base font-product">
  This is the same text.
</div>

<div class="text-base font-sf">
  This is the same text.
</div>

<div class="text-base font-public">
  This is the same text.
</div>

<hr class="my-6">

<button class="btn btn-blue font-sf" type="button">
  Button
</button>

<button class="btn btn-blue" type="button">
  Button
</button>

<button class="btn btn-blue font-product" type="button">
  Button
</button>

<button class="btn btn-blue font-sf" type="button">
  Button
</button>

<button class="btn btn-blue font-public" type="button">
  Button
</button>

{{outlet}}
