<div class="grid grid-cols-7 gap-6">
  <div class="text-center">
    <div class="text-center">
      XS
    </div>

    <div class="font-sans text-xs">
      This is the same text. (font-sans)
    </div>

    <div class="text-xs font-inter">
      This is the same text. (font-inter)
    </div>

    <div class="text-xs font-inter-var">
      This is the same text. (font-inter-var)
    </div>

    <div class="text-xs font-muli">
      This is the same text. (font-muli)
    </div>

    <div class="text-xs font-product">
      This is the same text. (font-product)
    </div>

    <div class="text-xs font-public">
      This is the same text. (font-public)
    </div>

    <div class="text-xs font-roboto">
      This is the same text. (font-roboto)
    </div>

    <div class="text-xs font-sf">
      This is the same text. (font-sf)
    </div>
  </div>

  <div class="text-center">
    <div class="text-center">
      SM
    </div>

    <div class="font-sans text-sm">
      This is the same text. (font-sans)
    </div>

    <div class="text-sm font-inter">
      This is the same text. (font-inter)
    </div>

    <div class="text-sm font-inter-var">
      This is the same text. (font-inter-var)
    </div>

    <div class="text-sm font-muli">
      This is the same text. (font-muli)
    </div>

    <div class="text-sm font-product">
      This is the same text. (font-product)
    </div>

    <div class="text-sm font-public">
      This is the same text. (font-public)
    </div>

    <div class="text-sm font-roboto">
      This is the same text. (font-roboto)
    </div>

    <div class="text-sm font-sf">
      This is the same text. (font-sf)
    </div>
  </div>

  <div class="text-center">
    <div class="text-center">
      BASE
    </div>

    <div class="font-sans text-base">
      This is the same text. (font-sans)
    </div>

    <div class="text-base font-inter">
      This is the same text. (font-inter)
    </div>

    <div class="text-base font-inter-var">
      This is the same text. (font-inter-var)
    </div>

    <div class="text-base font-muli">
      This is the same text. (font-muli)
    </div>

    <div class="text-base font-product">
      This is the same text. (font-product)
    </div>

    <div class="text-base font-public">
      This is the same text. (font-public)
    </div>

    <div class="text-base font-roboto">
      This is the same text. (font-roboto)
    </div>

    <div class="text-base font-sf">
      This is the same text. (font-sf)
    </div>
  </div>

  <div class="text-center">
    <div class="text-center">
      LG
    </div>

    <div class="font-sans text-lg">
      This is the same text. (font-sans)
    </div>

    <div class="text-lg font-inter">
      This is the same text. (font-inter)
    </div>

    <div class="text-lg font-inter-var">
      This is the same text. (font-inter-var)
    </div>

    <div class="text-lg font-muli">
      This is the same text. (font-muli)
    </div>

    <div class="text-lg font-product">
      This is the same text. (font-product)
    </div>

    <div class="text-lg font-public">
      This is the same text. (font-public)
    </div>

    <div class="text-lg font-roboto">
      This is the same text. (font-roboto)
    </div>

    <div class="text-lg font-sf">
      This is the same text. (font-sf)
    </div>
  </div>

  <div class="text-center">
    <div class="text-center">
      XL
    </div>

    <div class="font-sans text-xl">
      This is the same text. (font-sans)
    </div>

    <div class="text-xl font-inter">
      This is the same text. (font-inter)
    </div>

    <div class="text-xl font-inter-var">
      This is the same text. (font-inter-var)
    </div>

    <div class="text-xl font-muli">
      This is the same text. (font-muli)
    </div>

    <div class="text-xl font-product">
      This is the same text. (font-product)
    </div>

    <div class="text-xl font-public">
      This is the same text. (font-public)
    </div>

    <div class="text-xl font-roboto">
      This is the same text. (font-roboto)
    </div>

    <div class="text-xl font-sf">
      This is the same text. (font-sf)
    </div>
  </div>

  <div class="text-center">
    <div class="text-center">
      2XL
    </div>

    <div class="font-sans text-2xl">
      This is the same text. (font-sans)
    </div>

    <div class="text-2xl font-inter">
      This is the same text. (font-inter)
    </div>

    <div class="text-2xl font-inter-var">
      This is the same text. (font-inter-var)
    </div>

    <div class="text-2xl font-muli">
      This is the same text. (font-muli)
    </div>

    <div class="text-2xl font-product">
      This is the same text. (font-product)
    </div>

    <div class="text-2xl font-public">
      This is the same text. (font-public)
    </div>

    <div class="text-2xl font-roboto">
      This is the same text. (font-roboto)
    </div>

    <div class="text-2xl font-sf">
      This is the same text. (font-sf)
    </div>
  </div>

  <div class="text-center">
    <div class="text-center">
      3XL
    </div>

    <div class="font-sans text-3xl">
      This is the same text. (font-sans)
    </div>

    <div class="text-3xl font-inter">
      This is the same text. (font-inter)
    </div>

    <div class="text-3xl font-inter-var">
      This is the same text. (font-inter-var)
    </div>

    <div class="text-3xl font-muli">
      This is the same text. (font-muli)
    </div>

    <div class="text-3xl font-product">
      This is the same text. (font-product)
    </div>

    <div class="text-3xl font-public">
      This is the same text. (font-public)
    </div>

    <div class="text-3xl font-roboto">
      This is the same text. (font-roboto)
    </div>

    <div class="text-lg font-sf">
      This is the same text. (font-sf)
    </div>
  </div>
</div>


<hr class="my-6">

<div class="grid grid-cols-8 gap-6">
  <div class="text-center">
    <button class="font-sans btn btn-blue" type="button">
      Button
    </button>
  </div>

  <div class="text-center">
    <button class="btn btn-blue font-inter" type="button">
      Button
    </button>
  </div>

  <div class="text-center">
    <button class="btn btn-blue font-inter-var" type="button">
      Button
    </button>
  </div>

  <div class="text-center">
    <button class="btn btn-blue font-muli" type="button">
      Button
    </button>
  </div>

  <div class="text-center">
    <button class="btn btn-blue font-product" type="button">
      Button
    </button>
  </div>

  <div class="text-center">
    <button class="btn btn-blue font-public" type="button">
      Button
    </button>
  </div>

  <div class="text-center">
    <button class="btn btn-blue font-roboto" type="button">
      Button
    </button>
  </div>

  <div class="text-center">
    <button class="btn btn-blue font-sf" type="button">
      Button
    </button>
  </div>
</div>

{{outlet}}
